body {
  background-color: black;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

.intro {
  font-size: 82px;
  font-weight: bolder;
  /* border: 2px solid white; */
  margin-top: 17%;
  justify-content: center;
  text-align: center;
}

header:hover {
  background-color: whitesmoke;
  color: black;
}
li:hover {
  text-decoration: underline;
}
